<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome To New J Private ItI</h1>
    <div class="container">
        <a href="/Signup">Sign Up</a>
        <a href="/Login">Login</a>
    </div>
</body>
</html>
